<html lang="en">
<head>



	<meta charset = "utf-8">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="shortcut icon"  href="images/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/mystyles.css">

	<title>Home</title>



 </head>

 <header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<img src="images/IIEST_Shibpur Logo.jpg" style="margin-top: -7px; max-width: 70px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="margin-top: 20px"><a href="http://www.iiests.ac.in"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>  Institute Website </button></a></li>
        
        <!-- <li class="dropdown" style="margin-top: 10px">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
        <li class="container-fluid" style="margin-top: 10px"><img src="images/simple.png"></li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group" style="margin-top: 10px">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <a href="https://www.google.com/search" <button style="margin-top: 10px"type="submit" class="btn btn-default">Submit</button></a>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: -1px; margin-right:-10px;  margin-bottom: -5px" class = "container-fluid">
				<h5>
				<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><button type="button" class = "btn btn-primary" aria-label="Left Align" style="margin-top: 20px; margin-bottom: 5px; height: 44px; margin-right: 15px"><span class="glyphicon glyphicon-pencil"></span>   Sign Up&nbsp;&nbsp;&nbsp;</button></a>
				
				<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="registerLabel">Register</h4>
							</div>
							<div class="modal-body">
								<div class="container">
									<div class="center-align">
									<form action="" method="post">
										<dl>

											<dt><label for="username">Username</label>
												<dd><input  id="username" name="username" type="text" value=""></dd>

											<dt><label for ="reg_no">Registration No</label>
												<dd><input  id="reg_no" name="reg_no" type="text" value=""></dd>


											<dt><label for="email">Email</label>
												<dd><input  id="email" name="email" type="text" value=""></dd>
												

											<dt><label for="fname">First Name</label>
												<dd><input id="fname" name="fname" type="text" value=""></dd>

											<dt><label for="sname">Last Name</label>
												<dd><input id="sname" name="sname" type="text" value=""></dd>


											<dt><label for="sem">Semester</label>
												<dd><input id="sem" name="sem" type="text" value=""></dd>

											<dt><label for="password">Password</label>
												<dd><input  id="password" name="password" type="password" value=""></dd>

											<dt><label for="cpassword">Confirm Password</label>
												<dd><input  id="confirm" name="confirm" type="password" value=""></dd>

											<p>By registering, you accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> </p>


			  								</dl>
			  								<p><input class="btn btn-primary" type=submit value=Register>

									</form>
								</div>


								</div></div>


						</div></div></div>	
					</h5>
        </li>
        <li style="margin-top: -1px;   margin-bottom: -5px" class = "container-fluid">
				<h5>
				<a role="presentation" class="active" data-toggle="modal" data-target="#exampleModal" href="#"><button type="button" class = "btn btn-primary" aria-label="Left Align" style="margin-top: 20px; margin-bottom: 5px; height: 44px; margin-right: 15px"><span class="glyphicon glyphicon-log-in"></span>   Login&nbsp;&nbsp;&nbsp;</button></a>
				
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="exampleModalLabel">Login</h4>
							</div>
							<div class="modal-body">
								<div class="container">

									<form action="" class="form-inline" method="post">

										<input type="text" class="form-control" placeholder="Registration Number" name="reg_id" value="">
										<input type="password" class="form-control" placeholder="Password" name="password" value="">
										<input class="btn btn-primary" type="submit" value="Login">

									</form>



								</div></div>


						</div></div></div>	
					</h5>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 </header>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>	
<script type="text/javascript" src = "js/bootstrap.min.js"></script>
</body>

<footer >
	
	  
	  <div class="panel-footer" style="text-align:center;">
	  	<ul >
	  		<a  href="/mission"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-eye-open"></span>   Mission&nbsp;&nbsp;&nbsp;</button></a>
	  		<a  href="/about"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-thumbs-up"></span>   About&nbsp;&nbsp;&nbsp;</button></a>
	  		<a  href="/contact"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-earphone"></span>   Contact&nbsp;&nbsp;&nbsp;</button></a>
	  		
	  	</ul>
	  	
	  </div>
	
</footer>
</html>