<html>
<head>
	<title>Create Test</title>


	<meta charset = "utf-8">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>	
	<script type="text/javascript" src = "js/bootstrap.min.js"></script>



	<a role="presentation" class="active" data-toggle="modal" data-target="#create" href="#"><button type="button" class = "btn btn-primary" aria-label="Left Align pull-right" style="margin-top: 20px; margin-bottom: 5px; height: 44px; margin-right: 0px"><span class="glyphicon glyphicon-pencil"></span>  Create Test&nbsp;&nbsp;&nbsp;</button></a>
				
	<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="CreateLabel">Create Test</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						
						<form action="" class="form-inline" method="post">
							<div class="row">
								<div class="col-md-6">
									<label for="settitle">Set Title</label><br />
								
								
									<input  id="username" name="settitle" type="text" value="">
								</div>
								<div class="col-md-6">
									

									<label for="setmarks">Set Marks</label> <br />
									<input  id="username" name="setmarks" type="text" value="">
								</div>

							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="setsubject">Set Subject</label> <br />
									<input  id="username" name="setsubject" type="text" value="">
								</div>
								<div class="col-md-6">
									

									<label for="setsem">For Semester</label> <br />
									<input  id="username" name="setsem" type="text" value=""></dd>
								</div>

							</div>

							<div class ="row">
								<div class="col-md-6">

									<label for="nofquestions">No. of Questions</label> <br />
									<input  id="username" name="nofquestions" type="text" value="">
								</div>
									
								<div class="col-md-6">
									<label for="settime">Time</label> <br />
									<input  id="username" name="settime" type="text" value="">
								</div>

							</div>
							<!-- Auto generate test_id and but below -->
							<div><p>Your Test ID is be 32321</p></div>


							

							
					        <div style="display: block;" class="modal-footer">
                
            					<span><a href="questions_modified.html"><button type="button" class="btn btn-primary">Save and Continue</button></span>&nbsp;&nbsp;&nbsp;<span><a href="questions_bank.html"><button type="button" class="btn btn-primary">Go to Question Bank</button></span>
            				</div>
					        





							
					</div>
				</div>
			</div>
		</div>
	</div>




</body>
</html>