<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Questions</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jasny/css/jasny-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/fileinput.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
</head>
<body style="background-size: 100%">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src = "js/bootstrap.min.js"></script>
<script type="text/javascript" src = "js/fileinput.min.js"></script>

<div class="container">
	<div class="row">


		<div class="col-md-4">
			<img src="images/IIEST_Shibpur Logo.jpg">

		</div>
		<div class="col-md-4 text-center"  >
			<h3>MOCK TEST</h3>


		</div>


		<div class="col-md-4 pull-right">
			<span class="dropdown pull-right">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/loggedinas.jpeg" class="img-responsive" style="height: 50px; margin-top: 5px"> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Edit Profile</a></li>
		            <li><a href="#">Logout</a></li>
		            
		          </ul>
			</span>


			<span class="pull-right " style="padding-right: 22px;margin-top: 20px">
				<a href="homepage.html"><h4 >HOME</h4></a>
			</span>


			
		</div>
	</div>
	<div class="row">
			<div class="col-md-12">
				<hr>

			</div>

		</div>



	<div class="row container" style="margin-top: 25px;">
		<div class="col-md-9" style="text-align: center">
			<h3>Question No 1.</h3>
		</div>
		<div class="col-md-3 pull-right">
			<span class="pull-right"><h3>19 out of 20 Remaining</h3> &nbsp;<span class="pull-right"><a href="questions.html"><button type="button" class ="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span> Next Question</button></a>

		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>

			</div>

		</div>

		<div class="row container">
			
  			<p><strong>Your first question</strong></p>
  			<br />

			


		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>

			</div>

		</div>

		<div class="container btn-group" data-toggle="buttons">
			<div class="row">
				<div class="col-md-6">
					<label class="btn btn-primary">
					    <input type="checkbox" name="options" id="option1" autocomplete="off">A</label> 
					    <p>Option A</p>
  						
			</br> 
		            
								 
				</div>
				<div class="col-md-6">
					<label class="btn btn-primary">
					    <input type="checkbox" name="options" id="option3" autocomplete="off">B </label>
					    
					    <p>Option B</p>
  			
						</br> 
					            
								
				</div>

			</div>
			</br>
			</br>

			<div class="row">
				<div class="col-md-6">
					<label class="btn btn-primary">
				    	<input type="checkbox" name="options" id="option2" autocomplete="off">C </label> <br />
				    	<p>Option C</p>
  						<br />
					            


				 	

				</div>
				<div class="col-md-6">
					<label class="btn btn-primary">
						<input type="checkbox" name="options" id="option3" autocomplete="off">D</label> <br />
						<p>Option D</p>
  						<br />
					           
				</div>

			</div>
		</div>

	</div>
	</br>
	</br>
	<div class="row">
		<!-- <div class="col-md-3"></div> -->
		<div class="col-md-5" style="text-align: center"></div>
		<div class="col-md-6"><a href=""><button class="btn btn-primary">Save and Proceed</button></a></div>
	</div>
	<br />
	<br />

	<div class="row">

		<div class="col-md-5"></div>
		<div class="col-md-4">

			<nav>
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>

		<div class="col-md-3"></div>
	</div>
	</br>
	</br>
	
</div>


</body>


 
<div class="container-fluid " style="text-align:center">
    <div class="panel-footer" style="text-align:center;">
	  	<ul >
	  		<a  href="/mission"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-eye-open"></span>   Mission&nbsp;&nbsp;&nbsp;</button></a>
	  		<a  href="/about"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-thumbs-up"></span>   About&nbsp;&nbsp;&nbsp;</button></a>
	  		<a  href="/contact"><button type="button" class = "btn btn-primary" ><span class="glyphicon glyphicon-earphone"></span>   Contact&nbsp;&nbsp;&nbsp;</button></a>
	  		
	  	</ul>
	  	
	  </div>

  </div>
</html>